---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import AudienceClarity from '../components/AudienceClarity.astro';
import LeadFeatures from '../components/LeadFeatures.astro';
import HowItWorks from '../components/HowItWorks.astro';
import SecondaryFeatures from '../components/SecondaryFeatures.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <AudienceClarity />
    <LeadFeatures />
    <HowItWorks />
    <SecondaryFeatures />
    <Pricing />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
